sass-binary-site=${__NODE_GITHUBMIRRORURL}/sass/node-sass/releases/download
sharp-binary-host=${__NODE_GITHUBMIRRORURL}/lovell/sharp/releases/download
sharp-libvips-binary-host=${__NODE_GITHUBMIRRORURL}/lovell/sharp-libvips/releases/download
node-sqlite3-binary-host-mirror=${__NODE_MAPBOXMIRRORURL}
registry=${__NODE_MIRRORURL}